body {
  font-family: cursive;
}

$chapter-box-size: 40px;
$chapters-per-row: 10;

$verse-box-size: 40px;
$verses-per-row: 10;

$blue: #4699B2;
$gray: #cccccc;

.container {
  width: $chapter-box-size * $chapters-per-row;
  margin: 0 auto;
}

.progress-bar-container {
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  background-color: $gray;
}

#total-progress-bar {
  height: 100%;
  width: 0%;
  background-color: $blue;
  transition: width 1s;
}

.chapter-row {
  position: relative;
  height: $chapter-box-size;
  transition: height 150ms;
  width: $chapter-box-size * $chapters-per-row;
}

.chapter {
  display: inline-block;
  user-select: none;
}

.chapter-number {
  box-sizing: border-box;
  width: $chapter-box-size;
  height: $chapter-box-size;
  text-align: center;
  line-height: $chapter-box-size;
  cursor: pointer;
  background: white;
  position: relative;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  z-index: 333;
  .expanded & {
    background: #FFD141;
  }
}

.chapter-number .progress {
  width: 0;
  transition: width 250ms ease-in-out;
  height: 4px;
  position: absolute;
  background-color: $blue;
  bottom: 0px;
  left: 0px;
  padding: 0;
  display: inline-block;
}

.verses {
  position: absolute;
  top: $chapter-box-size;
  left: 0px;
  display: none;
  &.visible { display: block; }
}

.verse-number {
  box-sizing: border-box;
  width: $verse-box-size;
  height: $verse-box-size;
  display: inline-block;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  text-align: center;
  line-height: $verse-box-size;
  background: #CCC;
  color: white;
  cursor: pointer;

  &.read {
    background: $blue;
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}